/*整体css*/
*{
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
	border: 0px dotted #e5e5e5;
}
a{	
	text-decoration: none;
}
li{
	list-style-type: none;
}
.page{
	background-image: url(../images/wy_logo_04.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;	
}
.page .white{
	background: #fff;
}
.fontsize{
	font-size: 14px;
	color: #777;
}
.page .content{
	width: 100%;
}
.page .content .main{
	width: 1000px;
	margin: 0 auto;
}
/*整体css结束*/


/*最上方黑色部分css*/
.page .top{
	height: 50px;
	background-color: #1c1c1c;
}
.page .top>.main p{
	float: left;
	color: #aeaeae;
	font-size: 14px;
	line-height: 50px;
}
.page .top>.main .phone{
	margin-left: 20px;
	color: #777;
}
/*最上方黑色部分css结束*/


/*logo部分css*/
.page .logo{
	height: 150px;
	border-bottom: 10px solid #e8e8e8;
}
.page .logo>.main img{
	margin-top: 6px;
	float: left;
}
.page .logo>.main .logofont{
	width: 130px;
	height: 58px;
	margin: 46px 18px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #e5e5e5;
}
.page .logo>.main .logofont .logoblue{
	font-size: 26px;
	color: #0078ca;
	line-height: 40px;
}
/*logo部分css结束*/


/*导航部分css*/
.page .logo>.main ul{
	float: right;
	margin-top: 55px;
}
.page .logo>.main ul li{	
	float: left;
}
.page .logo>.main ul li a{	
	padding: 0 0 20px;
	margin: 0 20px;
	color: #777;
}
.page .logo>.main ul .lastnav>a{
	margin-right: 0;
}
.page .logo>.main ul .current>a{
	color: #0078ca;
	border-bottom: 3px solid #0078ca;
	margin-left: 0;
}
.page .logo>.main ul li a:hover{
	color: #0078ca;
	border-bottom: 3px solid #0078ca;
}
/*导航部分css结束*/


/*轮播图部分css*/
*html{
	background-image:url(about:blank);
	background-attachment:fixed;
} /* 修正IE6振动bug */

/* slide */
.slide-main{
	height:400px;
	position:relative;
}
.prev,.next{
	display:block;
	width:44px;height:44px;
	position:absolute;
	z-index:222;top:177px;
	overflow:hidden;
	cursor:pointer;
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
	_border:1px solid none;
}
.prev{
	left:70px;
}
.next{
	right:70px;
}
.prev:hover,.next:hover,.nav-main a:hover,.nav-main a.cur{
	opacity:1;
	-moz-opacity:1;
	filter:alpha(opacity=100);
}
.item{
	display:block;
	width:100%;
	height:5px;
	position:absolute;
	z-index:124;
	top:360px;
	left:0;
	text-align:center;
}
.item a{
	display:inline-block;
	width:24px;
	height:5px;
	margin-right:11px;
	background:#444;
	opacity:0.3;
	-moz-opacity:0.3;
	filter:alpha(opacity=30);
	overflow:hidden;
}
.item a.cur{
	background:#fff;
}
.slide-box,.slide{
	display:block;
	width:100%;
	height:400px;
	overflow:hidden;
}
.slide-box{
	position:relative;
}
.slide{
	display:none;
	height:310px;
	padding-top:89px;
	background:#ff6900;
	position:relative;
	position:absolute;
	z-index:8;
}
#bgstylea{
	background:#000;
}
#bgstyleb{
	background:#0078ca;
}
#bgstylec{
	background:#0078ca;
}
.slide a{
	display:block;
	width:100%;
	height:310px;
	cursor:pointer;
}
.obj-a,.obj-b,.obj-c,.obj-d,.obj-e,.obj-f{
	position:absolute;
	z-index:9;
	left:50%;
}
.obj-a,.obj-b{
	width:952px;
	margin-left:-476px;
	text-align:center;
}
.obj-a{
	display:block;
	height:352px;
	top:0;
}
.obj-b{
	top:136px;
	height:100px;
}
.obj-c{
	display:block;
	height:582px;
	top:50px;
	margin-left:-550px;
}
.obj-d{
	top:130px;
	height:164px;
}
.obj-e{
	width:366px;
	height:170px;
	margin-left:-360px;
	top:30px;
	z-index:12;
}
.obj-f{
	width:692px;
	height:394px;
	top:130px;
	margin-left:-450px;
}
.banAnimate .obj-a{
	display:block;
	animation-name:baoAni;
	-webkit-animation:baoAni 0.4s linear 0s normal none;
	-moz-animation:baoAni 0.4s linear 0s normal none;
	animation:baoAni 0.4s linear 0s normal none;
}
@-webkit-keyframes baoAni{
	from{opacity:0;left:60%;} to{opacity:1;left:50%;} 
}
@-moz-keyframes baoAni{
	from{opacity:0;left:60%;} to{opacity:1;left:50%;}
}
@keyframes baoAni{
	from{opacity:0;left:60%;} to{opacity:1;left:50%;} 
}
.banAnimate .obj-b{
	display:block;
	animation-name:saAni;
	-webkit-animation:saAni 0.4s linear 0s normal none;
	-moz-animation:saAni 0.4s linear 0s normal none;
	animation:saAni 0.4s linear 0s normal none;
}
@-webkit-keyframes saAni{
	from{
		opacity:0;
		-webkit-transform:scale(0,0);
		} to{
			opacity:1;
			-webkit-transform:scale(1,1);
			} 
}
@-moz-keyframes saAni{
	from{opacity:0;-moz-transform:scale(0,0);} to{opacity:1;-moz-transform:scale(1,1);} 
}
@keyframes saAni{
	from{opacity:0;transform:scale(0,0);} to{opacity:1;transform:scale(1,1);} 
}
.watch-code.code-show{
	display:block;
	animation-name:scode;
	-webkit-animation:scode 0.3s linear 0s normal none;
	-moz-animation:scode 0.3s linear 0s normal none;
	animation:scode 0.3s linear 0s normal none;
}
@-webkit-keyframes scode{
	from{
		opacity:0;
		-webkit-transform:scale(1,0);
		transform-origin:left bottom;
		} to{
			opacity:1;
			-webkit-transform:scale(1,1);
			transform-origin: left bottom;
			} 
}
@-moz-keyframes scode{
	from{
		opacity:0;
		-moz-transform:scale(1,0); 
		transform-origin:left bottom;
		} to{
			opacity:1;
			-moz-transform:scale(1,1);
			transform-origin:bottom bottom;
			} 
}
@keyframes scode{
	from{
		opacity:0;
		transform:scale(1,0);
		transform-origin:left bottom;
		} to{
			opacity:1;
			transform:scale(1,1);
			transform-origin: left bottom;
			} 
}
.banAnimate .obj-c,.banAnimate .obj-e{
	display:block;
	animation-name:saAnic;
	-webkit-animation:saAnic 0.3s linear 0s normal none;
	-moz-animation:saAnic 0.3s linear 0s normal none;
	animation:saAnic 0.3s linear 0s normal none;
}
@-webkit-keyframes saAnic{
	from{opacity:0;left:47%;} to{opacity:1;left:50%;} 
}
@-moz-keyframes saAnic{
	from{opacity:0;left:47%;} to{opacity:1;left:50%;} 
}
@keyframes saAnic{
	from{opacity:0;left:47%;} to{opacity:1;left:50%;} 
}
.banAnimate .obj-d,.banAnimate .obj-f{
	display:block;
	animation-name:saAnid;
	-webkit-animation:saAnid 0.3s linear 0s normal none;
	-moz-animation:saAnid 0.3s linear 0s normal none;
	animation:saAnid 0.3s linear 0s normal none;
}
@-webkit-keyframes saAnid{
	from{opacity:0;left:53%;} to{opacity:1;left:50%;} 
}
@-moz-keyframes saAnid{
	from{opacity:0;left:53%;} to{opacity:1;left:50%;} 
}
@keyframes saAnid{
	from{opacity:0;left:53%;} to{opacity:1;left:50%;} 
}
/*轮播图部分css结束*/


/*数据总结部分css*/
.page .summary{
	padding: 20px 0;
}
.page .content .know{
	margin: 0px auto;
	height: 140px;
	border: 1px solid #e5e5e5;
}
.page .content .know .novice{
	width: 499px;
	height: 130px;
	border-right: 1px solid #e5e5e5;
	margin-top: 5px;
	float: left;
}
.page .content .know .novice>div{
	width: 248px;
	height: 110px;
	margin-top: 10px;
	float: left;
}
.page .content .know .novice>div:nth-child(2){
	border-left: 1px dotted #e5e5e5;
}
.page .content .know .novice>div>img{
	margin-left: 20px;
	float: left;
	width: 100px;
}
.page .content .know .novice>div .novicefont{
	float: left;
}
.page .content .know .novice>div>div{
	margin-top: 30px;
}
.page .content .know .novice>div>div>h4{
	padding-bottom: 7px;
}
.page .content .know .data{
	float: left;
}
.page .content .know .data>div{
	width: 165px;
	height: 110px;
	float: left;
	margin-top: 15px;
}
.page .content .know .data div p{
	text-align: center;
}
.page .content .know .data div .datatitle{
	margin-top: 20px;
	margin-bottom: 10px;
}
.page .content .know .data div p>span{
	font-size: 30px;
	color: #ff6600;
}
.page .content .know .data .money{
	border-right: 1px dotted #e5e5e5;
	border-left: 1px dotted #e5e5e5;
}
/*数据总结部分css结束*/


/*服务内容部分css*/
.service{
	background-image: url(../images/wy_logo_02.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.page .content .main .maintitle{
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 10px;
}
.page .content .main .abstract{
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.page .content .main .serwrap{
	width: 200px;
	height: 365px;
	float: left;
	margin-top: 50px;
	padding-bottom: 40px;
}
.page .content .main .serwrap .colorlump{
	width: 170px;
	height: 205px;
	border-radius: 10px;
	margin: 0 auto 40px;
}
.page .content .main .red>div{
	background: rgba(252,106,96,0.13);
	border: 3px solid #fc6a60;
}
.page .content .main .green>div{	
	background: rgba(42,231,86,0.13);
	border: 3px solid #2ae756;
}
.page .content .main .yellow>div{
	background: rgba(232,205,74,0.13);
	border: 3px solid #e8cd4a;
}
.page .content .main .blue>div{
	background: rgba(32,227,255,0.13);
	border: 3px solid #20e3ff;
}
.page .content .main .orange>div{
	background: rgba(255,151,81,0.13);
	border: 3px solid #ff9751;
}

.page .content .main .red:hover div{
	background: rgba(252,106,96,1);
}
.page .content .main .green:hover div{	
	background: rgba(42,231,86,1);
}
.page .content .main .yellow:hover div{
	background: rgba(232,205,74,1);
}
.page .content .main .blue:hover div{
	background: rgba(32,227,255,1);
}
.page .content .main .orange:hover div{
	background: rgba(255,151,81,1);
}
.page .content .main .red>h4,.page .content .main .red>.sermore>a{
	color: #fc6a60;
}
.page .content .main .green>h4,.page .content .main .green>.sermore>a{
	color: #2ae756;
}
.page .content .main .yellow>h4,.page .content .main .yellow>.sermore>a{
	color: #e8cd4a;
}
.page .content .main .blue>h4,.page .content .main .blue>.sermore>a{
	color: #20e3ff;
}
.page .content .main .orange>h4,.page .content .main .orange>.sermore>a{
	color: #ff9751;
}
.page .content .main .serwrap:hover .sermore a{
	color: #fff;
}
.page .content .main .serwrap>h4{
	text-align: center;
	margin-bottom: 5px;
}
.page .content .main .serwrap .sermore{
	width: 130px;
	height: 30px;
	border-radius: 10px;
	border-width: 1px;
	margin: 30px auto;
	text-align: center;
}
.page .content .main .serwrap .sermore>a{
	font-size: 14px;
	line-height: 30px;
}
.page .content .main .serwrap .colorlump>div{
	width: 97px;
	height: 124px;
	overflow: hidden;
	position: absolute;
	margin: 40px 36px;
}
.page .content .main .serwrap .colorlump>div>img{
	position: absolute;
	top: 0;
	left: 0;
	vertical-align: middle;
	transition:all 1s;
	-moz-transition:all 1s; /* Firefox 4 */
	-webkit-transition:all 1s; /* Safari and Chrome */
	-o-transition:all 1s; /* Opera */
	transform-origin: left top;
}
.page .content .main .serwrap:hover .colorlump>div>img{
	margin-top: -135px;
}
/*服务内容部分css结束*/



/*服务范围部分css*/
.page .content .main .bluetitle{
	color: #51a9f2;
}
.page .content .main .grayabs{
	color: #939393;
}
.page .content .main .range{
	width: 320px;
	float: left;
	border: 1px solid #e5e5e5;
	margin-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.page .content .main .redr{
	border-top: 5px solid #fc6a60;
}
.page .content .main .oranger{
	border-top: 5px solid #ff9751;
	margin-left: 15px;
	margin-right: 15px;
}
.page .content .main .bluer{
	border-top: 5px solid #20e3ff;
}
.page .content .main .range>h3{
	width: 280px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	margin-left: 20px;
}
.page .content .main .redr>h3,.page .content .main .redr .rfont b{
	color: #fc6a60;
}
.page .content .main .oranger>h3,.page .content .main .oranger .rfont b{
	color: #ff9751;
}
.page .content .main .bluer>h3,.page .content .main .bluer .rfont b{
	color: #20e3ff;
}
.page .content .main .redr>h3{
	border-bottom: 2px dotted #fc6a60;
}
.page .content .main .oranger>h3{
	border-bottom: 2px dotted #ff9751;
}
.page .content .main .bluer>h3{
	border-bottom: 2px dotted #20e3ff;
}
.page .content .main .range .rfont>li{
	margin: 20px;
}
.page .content .main .range .rfont>li>span{
	color: #aaa;
}
.page .content .main .range .rfont>li>p{
	margin-left: 90px;
	margin-top: -20px;
}
.page .content .main .range .rfont>li>b{
	margin-left: 40px;
	font-size: 25px;
}
.page .content .main .range .rmore{
	width: 230px;
	height: 35px;
	text-align: center;
	margin: 0 auto;
}
.page .content .main .range .rmore>a{
	color: #fff;
	line-height: 35px;
}
.page .content .main .redr .rmore{
	background: #fc6a60;
}
.page .content .main .oranger .rmore{
	background: #ff9751;
}
.page .content .main .bluer .rmore{
	background: #20e3ff;
}
/*服务范围部分css结束*/


/*服务案例部分css*/
.page .case{
	clear: both;
	background: rgba(5,59,105,0.6);
	padding-bottom: 50px;
}
.page .case .main #casemain ul li{
	width: 333px;
	height: 30px;
	float: left;
	background: #45a5f9;
	margin-top: 30px;
	text-align: center;
}
.page .case .main #casemain ul li a{
	color: #fff;	
	line-height: 30px;
}
.page .case .main #casemain ul .active{
	background: #fff;
}
.page .case .main #casemain ul .active>a{
	color: #6b7884;	
}
.page .case .main #casemain .casetu{
	clear: both;
	padding-top: 30px;
	border-top: 3px solid #fff;
	display: none;
}
.page .case .main #casemain .casemt .caseactive{
	display: block;
}
.page .case .main .casetwo{
	margin: 0 20px;
}
.page .case .main .caseimg{
	float: left;
	width: 320px;
	height: 211px;
	position: relative;
}
.page .case .main .caseimg .imgbot{
	width: 320px;
	height: 50px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(83,83,83,0.72);
}
.page .case .main .caseimg .imgbot p{
	color: #fff;
	line-height: 30px;
}
/*服务案例部分css结束*/



/*关于我们部分css*/
.page .content .main .stage{
	width: 800px;
	margin: 40px auto;
	font-size: 14px;
	color: #939393;
}
#focus_Box{
	position:relative;
	width:1000px;
	height:308px;
	margin:0 auto;
	padding-bottom: 40px;
}
#focus_Box ul{
	position:relative;
	width:1000px;
	height:308px;
}
#focus_Box li{
	z-index:0;
	position:absolute; 
	width:0px;
	background:#787878;
	height:0px;
	top:146px;
	cursor:pointer;
	left:377px;
	border-radius:4px;
	box-shadow:1px 1px 12px rgba(200, 200, 200, 1);
}
#focus_Box li img{
	width:100%;
	background:url(images/loading.gif) no-repeat center 50%;
	height:100%;
	vertical-align:top;
}
#focus_Box .prev,#focus_Box .next{
	display:block;
	z-index:100;
	overflow:hidden;
	cursor:pointer;
	position:absolute;
	width:52px;
	height:52px;
	top:131px;
}
#focus_Box .prev{
	background:url(../images/btn.png) left bottom no-repeat;
	left:0px;
}
#focus_Box .next{
	background:url(../images/btn.png) right bottom no-repeat;
	right:0px;
} 
#focus_Box .prev:hover{
	background-position:left top;
}
#focus_Box .next:hover{
	background-position:right top;
}
#focus_Box a.imgs-scroll-btn{
	display:block;
	position:absolute;
	z-index:110;
	top:7px;
	right:15px;
	width:51px;
	height:23px;
	overflow:hidden;
	background:url(images/share-btn.png) no-repeat;
	text-indent:-999px;
}
/*关于我们部分css结束*/



/*新闻资讯部分css*/
.page .news{
	background: rgba(49,49,49,0.8);
}
.page .news .main .newsmain{
	width: 230px;
	float: left;
	margin: 10px;
	padding: 50px 0;
}
.page .news .main .newsmain>h4{
	color: #fff;
	margin: 10px 0;
}
.page .news .main .newsmain>p{
	font-size: 14px;
	color: #c6c6c6;
	padding-bottom: 15px;
}
.page .news .main .newsmain>a{
	padding: 5px 20px;
	font-size: 14px;
	color: #20e3ff;
	border: 1px solid #20e3ff;
}
/*新闻资讯部分css结束*/



/*联系我们部分css*/
.page .contact{
	padding-bottom: 50px;
}
.page .content .main .number{
	padding-top: 10px;
}
.page .content .main .touch{
	width: 800px;
	height: 100px;
	margin: 50px auto 0;
	border: 1px solid #e5e5e5;
}
.page .content .main .touch>div{
	width: 266px;
	float: left;
	padding: 29px 0;
}
.page .content .main .touch .touchcentre{
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.page .content .main .touch>div>img,.page .content .main .touch>div>div{
	float: left;
}
.page .content .main .touch>div>img{
	margin-left: 50px;
}
.page .content .main .touch>div>div{
	padding-left: 20px;
}
/*联系我们部分css结束*/



/*footer部分css*/
.page .footer{
	background: #3f3f3f;
	padding-bottom: 50px;
}
.page .footer .main>img{
	padding: 30px 10px;
	background: #fff;
	float: left;
}
.page .footer>.main ul{
	float: right;
	margin-top: 30px;
}
.page .footer>.main ul li{	
	float: left;
	color: #777;
}
.page .footer>.main ul li a{	
	padding: 0 0 20px;
	margin: 0 20px;
	color: #fff;
	font-size: 14px;
}
.page .footer>.main>div{
	float: right;
	margin-right: 100px;
}
.page .footer>.main .info{
	float: left;
	font-size: 14px;
	margin-left: 100px;
}
.page .footer>.main .info>li{
	clear: both;
	line-height: 30px;
}
.page .footer>.main>div>p{
	margin-top: 10px;
	margin-left: 100px;
	color: #626262;
	font-size: 14px;
}
/*footer部分css结束*/


#up{
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 5px 15px;
	background: #51a9f2;
	color: #fff;
	display: none;
}